<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="C:\Users\user\source\repos\LoginForm\styles\font-awesome.css" rel="stylesheet" />
    <link href="C:\Users\user\source\repos\LoginForm\styles\style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
